doctype html
html
  h1 Hello #{name}
  p You are one step away from completing the registration!
  p Please confirm your profile by clicking on the link below.
  a #{link}
  p Regards
  p SherwoodBET Team
