<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-content">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
        SherwoodBET
      </a>
     </div>
     <div class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username or email" [(ngModel)]="loginUser.identification">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Password" [(ngModel)]="loginUser.password">
        </div>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Login
        </button>
      </div>
  </div>
</nav>
