<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-content">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="getHome()">
        <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
        SherwoodBET
      </a>
     </div>
     <div class="navbar-form navbar-left">
        <div *ngIf="shouldShowLogin()" class="form-group">
          <input type="text" class="form-control" placeholder="Username or email" [(ngModel)]="user.identification">
        </div>
        <div *ngIf="shouldShowLogin()" class="form-group">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password">
        </div>
        <button *ngIf="shouldShowLogin()" type="button" class="btn btn-default" (click)="requestLogin()">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Login
        </button>
      </div>
  </div>
</nav>
