.navbar-content {
  display: flex;
  justify-content: space-between;
}

.navbar-header {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 0;
  padding-left: 0;
}

.login-btn {
  width: 100px;
}
