<navbar></navbar>

<messages [messages]="messages"></messages>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 block-container">
      <demo-proposer [status]="status"></demo-proposer>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-sm-7 col-lg-7 block-container">
      <sherwood-intro [status]="status"></sherwood-intro>
    </div>

    <div class="col-xs-12 col-sm-5 col-sm-5 col-lg-5 block-container">
      <div class="card">
        <h4 *ngIf="!status.pendingSignup" class="title">Create your account in seconds</h4>
        <h4 *ngIf="status.pendingSignup" class="title">We are creating your account...</h4>
        <signup-username-input [user]="user" [status]="status"></signup-username-input>
        <signup-email-input [user]="user" [status]="status"></signup-email-input>
        <signup-password-input [user]="user"></signup-password-input>
        <signup-inviter-input [user]="user" [status]="status"></signup-inviter-input>
        <signup-button [user]="user" [status]="status" [messages]="messages"></signup-button>
      </div>
    </div>
  </div>

</div>
