<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-sm-7 col-lg-7 block-container">
      <div class="info-container">
        <h3>The Player vs Player football betting site</h3>
        <h5>The Problem</h5>
        <li>
          The bookmakers have one income - and one income only - the money they take of
          away from their players. From you.
        </li>
        <li>
          They are in controll. They create oddses, they make the rules - of course they
          make it so that you - the mass of players - lose.
        </li>
        <li>
          20 billion euros each year - and it is getting higher. That is the amount, that
          they take away from you - and this is the amount that we give back to you.
          <a>Read more about the market...</a>
        </li>
        <h5>Our Innovation</h5>
        <li>
          We have created a platform, where you can exclude the bookmakers from the market,
          and play against each other.
        </li>
        <li>
          Instead of the lottery-like approach of the original sport betting we ha we have
          created a poker-like redistribution.
          <a>Read more about our solution...</a>
        </li>
        <h5>How does it work?</h5>
        <li>
          We have created a platform, where you can exclude the bookmakers from the market,
          and play against each other.
        </li>
        <li>
          Instead of the lottery-like approach of the original sport betting we have created
          a poker-like redistribution.
        </li>
        <li>
          Instead of the lottery-like approach of the original sport betting we have created
          a poker-like redistribution.
        </li>
        <li>
          Instead of the lottery-like approach of the original sport betting we have created
          a poker-like redistribution.
          <a>Play a quick demo without registration >>></a>
        </li>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-5 col-lg-5 block-container">
      <div class="card">
        <h4 class="title">Create your account in seconds</h4>
        <signup-username-input [user]="user"></signup-username-input>
        <signup-email-input [user]="user"></signup-email-input>
        <signup-password-input [user]="user"></signup-password-input>
        <div class="row input-container">
          <input class="form-control login-input" type="text" placeholder="Invitation code" [(ngModel)]="user.invitationCode"/>
          <p class="input-help">
            Optional
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </p>
        </div>
        <div class="row button-container">
          <button class="btn btn-primary" (click)="requestSignup()" [disabled]="!this.user.dataIsValid()">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Signup
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
