<div class="row input-container">

  <input
    class="form-control login-input"
    placeholder="Email address"
    [(ngModel)]="user.email"
    (ngModelChange)="checkEmail()"/>

  <p *ngIf="shouldShowInfo()" class="input-help input-help-default">
    Enter a vaild email address
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  </p>

  <p *ngIf="shouldShowLoading()" class="input-help input-help-default">
    Checking...
    <i class="material-icons md-11 loading-circle">data_usage</i>
  </p>

  <p *ngIf="shouldShowError()" class="input-help input-help-error">
    Already occupied
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
  </p>

  <p *ngIf="shouldShowSuccess()" class="input-help input-help-success">
    Available
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
  </p>

</div>
