.container {
  background-color: #555;
  padding-top: 65px;
  min-height: 100vh;
}

.btn-success {
  background-color: black;
  border: 1px solid black;
}

.btn-info {
  background-color: black;
  border: 1px solid black;
}

.btn-primary {
  background-color: black;
  border: 1px solid black;
}

.info-message-success {
  background-color: #5cb85c;
  color: white;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.info-message-error {
  background-color: #d9534f;
  color: white;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.card {
  box-shadow: 0 0 10px #999;
}

.title {
  text-align: center;
  color: gold;
  margin-bottom: 30px;
}

.intro-text {
  color: #777;
  padding: 20px;
  text-align: justify;
  margin-bottom: 30px;
}

.with-margin {
  margin-top: 40px;
}

.input-container {
  padding: 5px 45px;
}

.login-input {
  color: black;
  border: 1px solid black;
}

.input-help {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.8em;
  color: white;
  padding-left: 5px;
}

.button-container {
    padding: 5px 45px;
    margin-bottom: 30px;
}

.free-button-container {
    padding: 5px 10px;
    margin-bottom: 30px;
}

@media screen and (min-width: 450px) {
  .block-container {
    padding: 40px;
  }

  .button-container {
    text-align: right;
  }

  .free-button-container {
    text-align: right;
  }

  .button-container button {
    width: 40%;
  }

  .free-button-container button {
    width: 40%;
  }
}

@media screen and (max-width: 450px) {

  .no-mobile {
    display: none;
  }

  .button-container {
    text-align: center;
  }

  .free-button-container {
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 45px;
  }

  .free-button-container button {
    width: 100%;
  }

  .button-container button {
    width: 100%;
  }
}
