<div class="container">
  <div class="row" *ngIf="infoMessage">
    <p class="info-message-{{infoMessage.severity}}">{{ infoMessage.text }}</p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-6 col-lg-6 block-container">
      <h4 class="title no-mobile">About us</h4>
      <div class="row no-mobile card intro-text">
        <h4>Why us?</h4>
        <p>Ever wondered how much hookers your IBM shares worth?</p>
        <p>Search no more! We tell you...</p>
        <h4 class="with-margin">How?</h4>
        <p>Get your free trial without registration!</p>
        <p>Registrate later for more commodities</p>
        <p>Upgrade your profile for more firms.</p>
      </div>
      <div class="row free-button-container">
        <button class="btn btn-info" (click)="getHome()">
          Free trial
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-6 col-lg-6 block-container">
      <h4 class="title">Create your account in seconds</h4>
      <div class="row input-container">
        <input class="form-control login-input" placeholder="Username" [(ngModel)]="user.username"/>
        <p class="input-help">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          Min. 6 characters
        </p>
      </div>
      <div class="row input-container">
        <input class="form-control login-input" type="password" placeholder="Password" [(ngModel)]="user.password"/>
        <p class="input-help">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          Min. 10 characters
        </p>
      </div>
      <div class="row button-container">
        <button class="btn btn-primary" (click)="requestLogin()" [disabled]="disabledLogin()">
          Login
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </button>
      </div>
      <div class="row input-container">
        <input class="form-control login-input" type="password" placeholder="Password again" [(ngModel)]="user.passwordAgain"/>
        <p class="input-help">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          Should match password
        </p>
      </div>
      <div class="row button-container">
        <button class="btn btn-info" (click)="requestSignup()" [disabled]="disabledSignup()">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Signup
        </button>
      </div>

    </div>
  </div>
</div>
