<div class="info-container">
  <h3>The Player vs Player football betting site</h3>
  <h5>The Problem</h5>
  <li>
    The bookmakers have one income - and one income only - the money they take of
    away from their players. From you.
  </li>
  <li>
    They are in controll. They create oddses, they make the rules - of course they
    make it so that you - the mass of players - lose.
  </li>
  <li>
    20 billion euros each year - and it is getting higher. That is the amount, that
    they take away from you - and this is the amount that we give back to you.
    <a>Read more about the market...</a>
  </li>
</div>
