<div class="demo-proposer-container">
  <div class="demo-proposer card">
    <span class="text">
      Learn the basics before
      <span *ngIf="!isLoggedIn()">joining our community.</span>
      <span *ngIf="isLoggedIn()">anything else.</span>
      Takes no more than 5 minutes.
    </span>
    <span>
      <button class="btn btn-default demo-button" (click)="getDemo()">
        Play a quick demo
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
    </span>
  </div>
</div>
