<div class="container">
  <div class="row" *ngIf="infoMessage">
    <p class="info-message-{{infoMessage.severity}}">{{ infoMessage.text }}</p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 block-container firms-container {{firmsShouldDisappear()}}" *ngIf="noResult()">
      <div class="search-container" *ngIf="isUpgraded()">
        <div class="row input-container">
          <input placeholder="Search for a firm" class="form-control" [(ngModel)]="searchString"/>
        </div>
        <div class="row button-container">
          <button class="btn btn-primary" (click)="filterFirms()" [disabled]="disabledSearch()">Search</button>
        </div>
        <div class="row button-container">
          <button class="btn btn-info" (click)="resetFirms()">Reset</button>
        </div>
        <hr>
      </div>
      <h4 class="title no-mobile">Firms:</h4>
      <p class="upgrade-info" *ngIf="!isUpgraded()">(Upgrade your profile for more firms)</p>
      <div class="firm-buttons">
        <div *ngFor="let firm of firms" class="one-firm">
          <button class="btn btn-primary firm-button {{ isSelected(firm) }}" (click)="selectFirm(firm)">
            {{ convertName(firm.name) }}
          </button>
          <span class="stock-price">{{ firm.stock_price.toFixed(1) }}&nbsp;&#36;</span>
        </div>
      </div>
      <div *ngIf="selectedFirm">
        <div class="number-of-shares">
          <span>Number of shares</span>
          <input [(ngModel)]="numberOfShares" [disabled]="!isRegistered()"/>
        </div>
        <div class="row button-container">
          <button (click)="getRandomResult()" class="btn btn-info">Convert to random</button>
        </div>
        <div class="row button-container">
          <button *ngIf="isRegistered()" (click)="getCommoditySelector()" class="btn btn-primary">Choose commodity</button>
          <p class="upgrade-info" *ngIf="!isRegistered()">(Login to see all comodities)</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 block-container commdities-container {{commodityShouldDisappear()}}" *ngIf="noResult()">
      <div *ngIf="noFirm()" class="no-firm-warn title">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        <br>
        No firm selected!
      </div>
      <div *ngIf="isCalculating" class="finding title">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <br>
        Finding some nice deal for you...
      </div>
      <h4 *ngIf="shouldShowCommodities()" class="title">Commodities:</h4>
      <div class="commodity-buttons" *ngIf="shouldShowCommodities()">
        <div *ngFor="let commodity of commodities" class="one-commodity">
          <button class="btn btn-primary" (click)="getResult(commodity)">
            {{ commodity.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="result" class="result-container">
    <h4 class="title deal-title">What a deal would THAT be!</h4>
    <div class="long-text">
      <p class="result-commodity">{{ result.commodity.name }}</p>
      <p class="from-share">From {{ result.numberOfShares }} {{ result.firm.name }} shares</p>
    </div>
    <img src="{{result.commodity.picture_url}}" height="250" width="250" class="img-rounded">

    <div *ngFor="let unit of filterNull(result.numberOfUnits)" class="unit-container">
      <span>{{unit.number}}</span><span>{{unit.name}}</span>
    </div>

    <div *ngIf="filterNull(result.numberOfUnits).length < 1" class="unit-container">
      Not enough shares <span *ngIf="chosenUnit">for {{chosenUnit.name}}</span>
    </div>

    <div class="row button-container" *ngIf="!converterActive">
      <button (click)="toggleConverter()" class="btn btn-info">
        Convert
      </button>
    </div>

    <div class="row button-container" *ngIf="converterActive">
      <button (click)="toggleConverter()" class="btn btn-info">
        Close Converter
      </button>
    </div>

    <div *ngIf="converterActive">
      <div class="measurement">
        <hr>
        <div *ngFor="let units of relatedUnits" class="row button-container">
          <button (click)="selectUnits(units)" class="btn btn-info">
            {{units.name}}
          </button>
        </div>
      </div>

      <div class="unit" *ngIf="chosenUnits">
        <hr>
        <div *ngFor="let unit of chosenUnits.list_of_units" class="row button-container">
          <button (click)="selectUnit(unit)" class="btn btn-info">
            {{unit.name}}
          </button>
        </div>
      </div>
    </div>

    <div class="row input-container">
      <input placeholder="Share it with... (email)" [(ngModel)]="mailMessage.email" class="form-control"/>
    </div>
    <p class="in-the-name">In the name of...</p>
    <div class="row input-container">
      <input [(ngModel)]="mailMessage.username" class="form-control"/>
    </div>
    <div class="row button-container">
      <button class="btn btn-info" (click)="sendMail()" [disabled]="disabledSend()">Send</button>
    </div>
    <div class="row button-container">
      <button class="btn btn-primary" (click)="restartProcess()">Restart</button>
    </div>
  </div>
</div>
