.container {
  background-color: #555;
  padding-top: 65px;
  min-height: 100vh;
}

.btn-success {
  background-color: black;
  border: 1px solid black;
}

.btn-info {
  background-color: black;
  border: 1px solid black;
}

.btn-primary {
  background-color: black;
  border: 1px solid black;
}

.info-message-success {
  background-color: #5cb85c;
  color: white;
  width: 100%;
  text-align: center;
}

.info-message-error {
  background-color: #d9534f;
  color: white;
  width: 100%;
  text-align: center;
}

.unit-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 20%;
  margin-top: 7px;
  margin-bottom: 7px;
  color: white;
}

.result-commodity {
  text-align: center;
  font-weight: bold;
  color: gold;
}

.from-share {
  text-align: center;
  color: white;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.deal-title {
  margin-bottom: 15px;
}

.one-firm {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.firm-button {
  width: 70%;
}

.stock-price {
  padding: 7px;
  color: gold;
  font-weight: bold;
}

.number-of-shares {
  display: flex;
  background-color: black;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  color: gold;
  margin-left: 60%;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0 0 10px #111;
  padding: 7px;
}

.choose-buttons {
  display: flex;
  justify-content: space-around;
}

.number-of-shares input {
  width: 20%;
  text-align: right;
  background-color: black;
  border: 1px solid gold;
  border-radius: 2px;
  color: gold;
}

.one-commodity {
  margin: 10px;
  text-align: center;
}

.one-commodity button {
  width: 80%;
}

.no-firm-warn {
  opacity: 0.2;
  font-size: 2.5em;
  padding-top: 50px;
}

.finding {
  opacity: 0.2;
  font-size: 1.5em;
  padding-top: 50px;
}

.button-container {
    padding: 5px 25px;
}

.input-container {
  padding: 5px 25px;
}

.in-the-name {
  color: #999;
  padding: 0;
  margin: 0;
}

.upgrade-info {
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}

.glyphicon-search {
  font-size: 3.5em;
}

.selected-firm {
  color: gold;
  font-weight: bolder;
}

.result-container {
  text-align: center;
}

.long-text {
  text-align: justify;
  color: #777;
}

@media screen and (min-width: 450px) {
  .block-container {
    padding: 40px;
  }
  .button-container {
    text-align: right;
  }
  .button-container button {
    width: 40%;
  }
}

@media screen and (max-width: 450px) {
  .number-of-shares {
    width: 80%;
    margin-left: 10%;
  }
  .button-container {
    text-align: center;
  }
  .button-container button {
    width: 100%;
  }
  .number-of-shares {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .no-mobile {
    display: none;
  }
  .finding {
    opacity: 0.2;
    font-size: 1.5em;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
