<button
  type="button"
  class="btn btn-default"
  (click)="logout()">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  Profile
</button>

<button
  type="button"
  class="btn btn-default"
  (click)="logout()">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  Account
</button>

<button
  type="button"
  class="btn btn-default"
  (click)="logout()">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  Groups
</button>

<button
  type="button"
  class="btn btn-default"
  (click)="logout()">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  Logout
</button>
