<button
  type="button"
  class="btn btn-default"
  (click)="getResults()">
  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
  Results
</button>

<button
  type="button"
  class="btn btn-default"
  (click)="getCommunity()">
  <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
  Friends
</button>

<button
  type="button"
  class="btn btn-default"
  (click)="getAccount()">
  <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
  Account
</button>

<button
  type="button"
  class="btn btn-default"
  (click)="getProfile()">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  Profile
</button>


<button
  type="button"
  class="btn btn-default"
  (click)="getInfo()">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  Help
</button>

<button
  type="button"
  class="btn btn-default"
  (click)="logout()">
  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  Logout
</button>
