@charset "UTF-8";

/* Code below applies from 0px to 600px and considered as default (mobile first approach) */
html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #f2f2f2;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7c8084;
  margin: 1em 0;
  padding: 0;
}

a {
    cursor: pointer;
}

/* Code below applies from 600px onwards */
@media (min-width: 600px) {
  body {

  }
}
