@charset "UTF-8";

/* Code below applies from 0px to 600px and considered as default (mobile first approach) */
html, body {
  margin: 0;
  height: 100%;
}

body {

}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7c8084;
  margin: 1em 0;
  padding: 0;
}

a {
    cursor: pointer;
}

.container {
  padding-top: 65px;
}

.btn:hover:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.block-container {
  padding: 20px;
}

.card {
  box-shadow: 0 0 3px #555;
  padding: 10px;
  border-radius: 3px;
}

/* Code below applies from 600px onwards */
@media (min-width: 600px) {
  body {

  }
}
