<div class="row input-container">

  <input
    class="form-control login-input"
    placeholder="Inviter"
    [(ngModel)]="user.inviter"
    (ngModelChange)="checkInviter()"/>

  <p *ngIf="shouldShowInfo()" class="input-help input-help-default">
    Optional
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  </p>

  <p *ngIf="shouldShowLoading()" class="input-help input-help-default">
    Checking...
    <i class="material-icons md-11 loading-circle">data_usage</i>
  </p>

  <p *ngIf="shouldShowError()" class="input-help input-help-default">
    Not found
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
  </p>

  <p *ngIf="shouldShowSuccess()" class="input-help input-help-success">
    Found
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
  </p>

</div>
