<div class="row input-container">

  <input
    class="form-control login-input"
    type="password"
    placeholder="Password"
    [(ngModel)]="user.password"
    (blur)="onBlurPassword()"
    (focus)="onFocusPassword()"/>

  <p *ngIf="shouldShowInfoPassword()" class="input-help input-help-default">
    Min. 10 characters
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  </p>

  <p *ngIf="shouldShowErrorPassword" class="input-help input-help-error">
    Min. 10 characters
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
  </p>

  <p *ngIf="shouldShowSuccessPassword()" class="input-help input-help-success">
    Accepted
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
  </p>

  <input
    class="form-control login-input"
    type="password"
    placeholder="Password again"
    [(ngModel)]="user.passwordAgain"
    (blur)="onBlurPasswordAgain()"
    (focus)="onFocusPasswordAgain()"/>

  <p *ngIf="shouldShowBasicPasswordAgain()" class="input-help input-help-default">
    Enter a valid password first
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  </p>

  <p *ngIf="shouldShowInfoPasswordAgain()" class="input-help input-help-default">
    Should match password
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  </p>

  <p *ngIf="shouldShow()" class="input-help input-help-error">
    Should match password
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
  </p>

  <p *ngIf="shouldShowSuccessPasswordAgain()" class="input-help input-help-success">
    Accepted
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
  </p>

</div>
